*{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:40px;
    background:#333;
}
.ml-6{
    margin-left:360px;
}
.mt20{
    margin-top: 20px;
}
.center{
    margin:0 auto;
}
/*头部*/
header .top{
    width:1200px;
    height:40px;
    line-height:40px;
}
header .top ul li{
    float:left;
    font-size:14px;
    color:#ccc;
}
header .top ul li a{
    padding:0 8px;
    font-size:14px;
    color:#b0b0b0;
    text-decoration: none;
}
header .top ul li a:hover{
    color:#fff;
}
/*购物车*/
header .top .gwc{
    margin:0 20px;
    width:120px;
    text-align: center;
    font-size:14px;
    background:#ff6700;
}
header .top .gwc a{
    text-decoration: none;
}
header .top .gwc:hover{
    color:#000;
    background:#666;
}
/*头部结束*/
/*中间导航栏*/
.banner1{
    width:1200px;
    height:100px;
}
.banner1 .logo{
    background:url("../image/logo_top.png") no-repeat center center;
    width:50px;
    height:100px;
}
.banner1 .gif{
    width:180px;
    height:100px;
    background:url("../image/yyymix.gif") no-repeat center center;
}
.banner1 ul li{
    float:left;
    height:100px;
    line-height:100px;
}
.banner1 ul li a{
    display:inline-block;
    color: #000;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
}
.banner1 ul li a:hover{
    color:rgb(255,103,0);
}
.banner1 .search{
    width:310px;
    height:100px;
    line-height:100px;
}
.banner1 .search .text{
    border:1px solid #ccc;
    width:250px;
    height:50px;
    line-height:50px;
    font-size: 14px;
    margin-top:25px;
}
.banner1 .search .text:hover{
    border-color:#ff6700;
}
.banner1 .search .text .shuru{
    width:250px;
    height:50px;
}
.banner1 .search .submit{
    border:1px solid #ccc;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:18px;
    margin-top:25px;
}
.banner1 .search .submit:hover{
    border-color:#ff6700;
    color:#ff6700;
}
.banner1 .search .submit .sousuo{
    width: 50px;
    height:50px;
    border: none;
    background: none;
}
/*导航栏结束*/
/*主体 左导航栏*/
.banner2{
    width:1226px;
    height:460px;
    background:url("../image/banner2.jpg") no-repeat;
}
.banner2 .biaoti1{
    width:234px;
    height:460px;
    background:rgb(12,12,19);
}
.banner2 .biaoti1 ul{
    padding:20px 0;
    position: relative;
}
.banner2 .biaoti1 ul li{
    display: block;
    width:234px;
    height:40px;
    line-height:40px;
    font-size:14px;
    padding:0 30px;
}
.banner2 .biaoti1 ul li:hover{
    background: #ff6700;
}
.banner2 .biaoti1 ul li a{
    text-decoration: none;
    display:inline-block;
    margin-left:10px;
    color:#fff;
}
.banner2 .biaoti1 ul li .pop{
    width:800px;
    height:460px;
    background:#fff;
    position:absolute;
    left:234px;
    top:0px;
    display:none;
}
.banner2 .biaoti1 ul li:hover .pop{
    display: block;
    box-shadow: 2px 3px 5px #ccc;
    border-top: 1px solid #ccc;
}
/*左*/
.banner2 .biaoti1 ul li .pop .left{
    width:256px;
    height:460px;
    background:#fff;
}
.xuangou_left{
    height:40px;
    line-height:40px;
    font-size:14px;
    margin-left:10px;
    margin-top: 20px;
}
.banner2 .biaoti1 ul li .pop .left div{
    margin-bottom: 3px;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_left a{
    color:#000;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_left a img{
    valign:middle;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_left a span{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_left a span:hover{
    color:#ff6700;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_right{
    margin-top: 25px;
    height:40px;
    line-height:40px;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_right a{
    display: block;
    width: 60px;
    line-height:24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    color:#ff6700;
    border:1px solid #ff6700;
}
.banner2 .biaoti1 ul li .pop .left .xuangou_right a:hover{
    display: block;
    background:#ff6700;
    color:#fff;
}
/*中*/
.banner2 .biaoti1 ul li .pop .ctn{
    width: 265px;
    height: 460px;
}
.banner2 .biaoti1 ul li .pop .ctn div{
    margin-bottom: 3px;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_left a{
    color:#000;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_left a img{
    valign:middle;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_left a span{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_left a span:hover{
    color:#ff6700;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_right{
    margin-top: 25px;
    height:40px;
    line-height:40px;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_right a{
    display: block;
    width: 60px;
    line-height:24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    color:#ff6700;
    border:1px solid #ff6700;
}
.banner2 .biaoti1 ul li .pop .ctn .xuangou_right a:hover{
    display: block;
    background:#ff6700;
    color:#fff;
}
/*右*/
.banner2 .biaoti1 ul li .pop .right{
    width: 265px;
    height: 460px;
    margin-right:5px;
}
.banner2 .biaoti1 ul li .pop .right div{
    margin-bottom: 3px;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_left a{
    color:#000;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_left a img{
    valign:middle;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_left a span{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_left a span:hover{
    color:#ff6700;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_right{
    margin-top: 25px;
    height:40px;
    line-height:40px;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_right a{
    display: block;
    width: 60px;
    line-height:24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    color:#ff6700;
    border:1px solid #ff6700;
}
.banner2 .biaoti1 ul li .pop .right .xuangou_right a:hover{
    display: block;
    background:#ff6700;
    color:#fff;
}
/*6个小图标*/
.small_img{
    width:1226px;
    height:170px;
    margin-top:15px;
}
.small_img .side{
    width:234px;
    height:170px;
}
.small_img .side div{
    width:78px;
    height:85px;
    margin:0;
    padding:0;
}
.small_img .side div a img{
    opacity: 0.8;
}
.small_img .side div a img:hover{
    opacity: 1;
}
/*右侧三个图*/
.small_img .big_img{
    width:316px;
    height:170px;
    margin-left: 14px;
}
.small_img .big_img a img{
    width:316px;
    height: 170px;
    opacity: 0.8;
}
.small_img .big_img a img:hover{
    opacity: 1;
}
.biaoti2{
    width: 1226px;
    height: 58px;
    line-height:58px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.center .main{
    width: 1226px;
    height: 340px;
}
.center .main .danpin{
    width: 234px;
    height: 339px;
    background: rgb(250,250,250);
}
.center .main .danpin:nth-of-type(1){
    border-top: 1px solid orange;
    margin-right:14px;
}
.center .main .danpin:nth-of-type(2){
    border-top: 1px solid green;
    margin-right:14px;
}
.center .main .danpin:nth-of-type(3){
    border-top: 1px solid blue;
    margin-right:14px;
}
.center .main .danpin:nth-of-type(4){
    border-top: 1px solid red;
    margin-right:14px;
}
.center .main .danpin:nth-of-type(5){
    border-top: 1px solid teal;
}
.center .main .danpin .img_danpin{
    padding: 37px;
}
.center .main .danpin .img_danpin a img{
    display:block;
    width: 160px;
    height: 160px;
    opacity: 0.85
}
.center .main .danpin .img_danpin a img:hover{
    width: 160px;
    height: 160px;
    opacity: 1;
}
.brand{
    width: 234px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: -10px;
}
.brand a{
    font-size: 14px;
    color:#333;
    text-decoration: none;
}
.center .main .danpin .youhui{
    width: 234px;
    height: 12px;
    line-height: 12px;
    margin:15px 0;
    font-size: 12px;
    color: rgb(176,176,176);
    text-align: center;
}
.center .main .danpin .price{
    font-size: 14px;
    text-align: center;
    color:#ff6709;
}
.peijian{
    width: 1226px;
    margin: 0 auto;
    background: rgb(245,245,245);
}
.peijian .main{
    height:315px;
}
.peijian .main .content{
    width: 1226px;
    height: 300px;
}
.peijian .main .content:nth-of-type(2){
    margin-top: 14px;
}
.peijian .main .content .remen{
    width:234px;
    height: 300px;
    margin-right: 14px;
    position:relative;
    background: #fff;
}
.peijian .main .content .remen:hover{
    margin-top: -2px;
    box-shadow: 0 0 30px #ccc;
}
.peijian .main .content .remen:nth-of-type(5){
    margin:0;
}
.peijian .main .content .remen .xinpin span{
    display: block;
    margin:0 auto;
    font-size: 10px;
    line-height:20px;
    height: 20px;
    color:#fff;
    width: 65px;
    background: #83c44e;
    text-align: center;
}
.peijian .main .content .remen .t_img a img{
    margin:10px 42px 20px 42px;
}
.peijian .main .content .remen .miaoshu{
    width: 234px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
}
.peijian .main .content .remen .miaoshu a{
    color:#000;
    font-size: 14px;
}
.peijian .main .content .remen .price{
    color:#ff6700;
    font-size: 14px;
    text-align:center;
    width: 234px;
    height: 25px;
    line-height: 25px;
}
.peijian .main .content .remen .pingjia{
    width:234px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color:#aaa;
    text-align: center;
}
.peijian .main .content .remen .piao{
    width: 234px;
    height: 74px;
    font-size:12px;
    padding:10px 0 0 30px;
    background:#ff6700;
    position: absolute;
    display: none;
}
.peijian .main .content .remen .piao a{
    color:#fff;
}
.peijian .main .content .remen .piao span{
    display: block;
    margin-top:5px;
}
.peijian .main .content .remen:hover .piao{
    display: block;
    margin-top: -40px;
}
footer{
    width: 100%;
    height: 120px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background: rgb(250,250,250);padding:30px 0;
}